.error {
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-color: red;
}
.btn-disable {
    cursor: default;
    pointer-events: none;

    /*Button disabled - CSS color class*/
    color: #c0c0c0;
    background-color: #afafaf;
}